<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de Suppression</title>
</head>
<body>
    <!-- <h1>Confirmation de Suppression</h1>
    <p>Êtes-vous sûr de vouloir supprimer l'article "{{ article[0] }}" ?</p>
    <form action="/articles/{{article_id}}/delete" method="POST">
        <button type="submit">Oui, Supprimer</button>
    </form> -->

        <h1>test</h1>
        <form action="/articles/{{article_id}}/test" method="post">
            <label for="title">Titre:</label><br>
            <input type="text" id="title" name="title" value="{{ article[0] }}"><br>
            <label for="content">Contenu:</label><br>
            <textarea id="content" name="content">{{ article[1] }}</textarea><br>
            <button type="submit">Tester les modifications</button>
        </form>
</body>
</html>
