<!-- templates/delete_confirmation.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de Suppression</title>
</head>
<body>
    <h1>Confirmation de Suppression</h1>
    <p>Êtes-vous sûr de vouloir supprimer l'article "{{ article_title }}" ?</p>
    <form action="/articles/delete" method="post">
        <input type="hidden" name="title" value="{{ article_title }}">
        <button type="submit">Confirmer la Suppression</button>
    </form>
</body>
</html>
