<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Count Form</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Compteur de mots dans un formulaire</h1>
    </header>
    <main>
        <section>
            <h2>Entrer le texte</h2>
            <form id="wordCountForm">
                <label for="phrase">Phrase:</label><br>
                <textarea id="phrase" name="phrase" required></textarea><br>
                <input type="submit" value="Comptez mots">
            </form>
        </section>
        <section id="wordCountResult" style="display: none;">
            <h2>Compteur de mots 
            </h2>
            <p id="wordCountOutput"></p>
        </section>
    </main>

    <script>
        document.getElementById('wordCountForm').addEventListener('submit', function(event) {
            event.preventDefault();

            let phrase = document.getElementById('phrase').value;
            let wordCount = phrase.trim().split(/\s+/).length;

            // Afficher le résultat
            document.getElementById('wordCountOutput').innerText = 'La phrase contient ' + wordCount + ' Mots.';
            document.getElementById('wordCountResult').style.display = 'block';
        });
    </script>
</body>
</html>

