<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <header>
        <h1>Login Page</h1>
    </header>
    <main>
        <section>
            <h2>Login Form</h2>
            <form method="post" action="/user">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br>
                <input type="submit" value="Login">
            </form>
        </section>
        {% if login_error %}
        <p>{{ login_error }}</p>
        {% endif %}
    </main>
</body>
</html>
